
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}
.logo {
    width: 150px;
    margin-top: 20px;
}
header {
    background-color: #1c1c1c;
    padding: 20px 0;
}
main {
    padding: 20px;
}
.product-card {
    border: 1px solid #fff;
    padding: 20px;
    margin: 10px auto;
    width: 300px;
    border-radius: 10px;
}
.product-card.locked {
    opacity: 0.5;
}
.btn {
    background-color: #ff004c;
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
}
#detalles-tarjeta {
    display: block;
    margin-top: 15px;
}
input {
    display: block;
    margin: 5px auto;
    padding: 8px;
    width: 80%;
}
